.container {
            background-color: #99CCFF;
            border: thick solid #808080;
            padding: 20px;
            margin: 20px;
            margin-left: 130px;
        }

ul#discussion {
            height: 200px;
            overflow-y: scroll;
}


div.cardWindow{
  height: 80px;
  width: 120px;
  overflow: hidden;
  position: fixed;
}

div.fateLabel1{
  position: absolute;
  left: 60px;
  top: 8px;
}

div.fateLabel2{
  position: absolute;
  left: 60px;
  top: 44px;
}


div.card{
  background-color: black;
  color: white;
  margin: 10px;
  padding: 4px;
  width: 40px;
}

ul.area-contents{
  min-height: 20px;
  background-color: grey;
}


div.area{
  float: left;
  width: 10%;
  padding-right: 2px;
}

div.row{
  clear: both;
}

div#area1, div#area5{
  margin-left: 10%;
}

ul.area-contents li{
  margin-bottom: 5px;
}

div.uipanel div {
margin-top: 5px;}

div.uipanel {
 width: 150px;
 margin-top: 60px;
}
input#nameInput {
width: 80%;}

div.delete-area {
  padding: 10px;
  background-color: darkred;
  width: 100px;
}

div.statsPanel {
 position: fixed;
 bottom: 0px;
 width: 100%;
 background-color: #99CCFF;
}

span.barOuter {
 width: 100px;
 height: 50px;
 margin-bottom: 10px;
 margin-right: 5px;
 background-color: darkgray;
}




